#sponsors
  text-align: center
  background-attachment: fixed
  background-color: #fafafa
  background-position: center center
  background-repeat: none
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  height: 100%
  padding-top: 50px
  padding-bottom: 60px
  color: #222
  .section-title
    margin-top: 50px
    border: 3px solid #ED823A
    padding: 15px
  .honor-text
    text-align: center
    color: #212121
  .sponsor-logo
    width: 100px
  .partner-img
    heigth: 150px
    width: 100%
    margin: auto
    margin-top: 50px



/* To fix image alignment
.flex-wrapper
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: center
.partner-img
  width: 300px
  margin: 5px 5px 5px 5px
  img
    width: 75%
.vcenter
  display: inline-block
  vertical-align: middle
  float: none
.hcenter
  display: block
  margin: 25px auto 25px auto
.narrow-logo
  width: 250px
  margin: auto
  img
    width: 65%
.wide-logo
  width: 250px
  margin: 10px 10px 10px 10px
  &.startup
    width: 300px
  &.large
    width: 350px
    @media (max-width: 378px)
      width: 300px
@media (max-width: 767px)
  .aboutspeaker
    padding: 0
  section ul.social-buttons li a
    height: 30px
    width: 30px
    font-size: 14px
    line-height: 30px
  ul.speakers-carousel
    height: 400px
