<section id="about">
  <div class="container">
      
        <div class="col-xs-12">
          <div class="title-container">
            <span class="title"><b>Onde e quando?</b></span>
          </div>
        </div>

        <div class="text-container col-md-12">
          <h4>A hackathon decorre dia 18 & 19 de Novembro, marca já na tua agenda!!</h4>
        </div>
      <div class="col-md-12">
        <iframe  class="col-xs-12" id="google-map" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJL4bubp3-JA0RIa4y7zUxqng&key=AIzaSyDh4ixf3YXb8V63gppWG_jsyy6xguk9UbQ" allowfullscreen></iframe>

      </div>
    </div>
</section>
