<section id="contacts">
  <div class="container">
    <div class="col-xs-12">
      <a href="http://www.cesium.di.uminho.pt/" target="_blank">
        <div id="cesium-circle">
          {% image logos/cesium-icon-white.png id:'logo' %}
        </div>
      </a>
    </div>

      <div class="col-xs-12 cesium-info">
          <h5>Centro de Estudantes de Engenharia Informática </h5>
          <p> <strong>EMAIL: </strong> <a href="mailto:cesium@di.uminho.pt">cesium@di.uminho.pt </a></p>
          <p> <strong>TELEFONE: </strong> 253 604 448 </p>
          <p> A SEI é completamente grátis é organizada por voluntários do CeSIUM </p>
      </div>

      <iframe class="center-block" id="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.0642803589813!2d-8.40119898460242!3d41.56785337924814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24fe814912f2a7%3A0xa3e6da9fe2189b49!2sHospital+de+Braga!5e0!3m2!1sen!2spt!4v1508961955028" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
</section>
