<section id="honor">
  <div class="container" style="margin-top: 50px">

    <div class="section-title-container">
      <h1 class="section-title honor-title"> Comissão de Honra</h1>
    </div >

    {% for honor in site.data.honor %}
    {% if honor.pic %}
    <section id="aboutgray">
      <div id="{{ speaker.name | slugify }}" class="col-md-12 speak-list">
        <div class="col-md-3 vcenter">
          <div class="honor-img">
            {% image '{{ honor.pic }}' %}
          </div>
    </section>
    {% endif %}
    {% endfor %}
  </div>
</section>
