<section id="icons">
  <div class="container">
      
      <div class="col-xs-12">
          <div class="title-container">
            <span class="title"><b>Extras</b></span>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 icons-space">
          <h3>Durante a Hackthon para que possas ter a melhor experiencia, vamos te proporcionar:</h3>
        </div>

        <div class="col-md-12">
          <div class="col-md-4 icons-space">
            <i class="fa fa-gamepad fa-5x" aria-hidden="true"></i>
            <h4> Área de Jogos</h4>
            <h6> Toda a gente precisa de pausas criativas, a organização da Hackathon arranjou te meios para te entreteres no processo.</h6>
          </div>
          <div class="col-md-4 icons-space">
            <i class="fa fa-cutlery fa-5x" aria-hidden="true"></i>
            <h4> Refeições e Snacks</h4>
            <h6>E porque não só de codigo vive o homem, temos todas as proteinas e açucar que precisas.</h6>
          </div>
          <div class="col-md-4 icons-space">
            <i class="fa fa-group fa-5x" aria-hidden="true"></i>
            <h4> Mentores para te guiar durante o projeto</h4>
            <h6>A opinião de alguem da industria pode te ajudar bastante a entender quais os fortes e falhas do teu projeto e ajudar te a entender onde investir o resto do tempo.</h6>
          </div>
        </div>

</section>
