<div id="heartbits-info">
  <div class="container">

    <div class="info">
      <h4 class="info-question">O que é?</h4>
      <div class="info-text">
        Uma maratona de 24 horas onde uma equipa interprofissional de 5 elementos desenvolve um produto informático inovador que dê resposta a um problema atual na Saúde em Portugal.</br>
        Esta solução será no final apresentada a um painel multidisciplinar que irá distinguir equipas com cerca de 2.000€ em prémios e uma rede capaz de ajudar no lançamento e desenvolvimento dos projetos, através de mais de 20.000€ em serviços.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Quando e onde ocorre?</h4>
      <div class="info-text">
        No Hospital de Braga Dias 18 & 19 de Novembro
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Quem pode participar?</h4>
      <div  class="info-text">
        Estudantes do ensino superior português, público ou privado e profissionais recèm licenciados, ligados à área da Saúde ou Programação. No entanto, os estudantes têm prioridade na obtenção de vagas.
      </div>
    </div>


    <div class="info">
      <h4 class="info-question">Tenho de me inscrever em equipa?</h4>
      <div class="info-text">
        As inscrições podem ser feitas individualmente, ou até 5 elementos. A equipa tem no entanto de ser mista (saúde e informática). Elementos que não formem uma equipa completa serão adicionados a outros.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Mais informações</h4>
      <div class="info-text">
        Consulte o regulamento disponível:
        <a  href="https://drive.google.com/open?id=0B3_r_ZU5WoqwVEJMbFFhNlRMM0E" target="_blank">
          <button class="btn btn-info btn-sei btn-hack">Regulamento</button>
        </a>
      </div>
    </div>

  </div>
</div>
