<section id="infoheader">
  <div class="container">

          <div class="col-md-4 icons-space vcenter">
            <i class="fa fa-code fa-5x" aria-hidden="true"></i>
            <h4>Informática</h4>
            <h6>Para que a Hackathon se realize com as melhores condições, temos o apoio! Podemos a agradecer a estas entidades que proporcionam cenas.</h6>
          </div>
          <div class="col-md-4 icons-space vcenter">
            <i class="fa fa-hospital-o fa-5x" aria-hidden="true"></i>
            <h4>Saúde</h4>
            <h6>De diferentes áreas da indústria, poderás contar com conselhos de várias possíveis experientes.</h6>
          </div>
        </div>

</section>
