<div id="heartbits-info">
  <div class="container">

    <div class="info">
      <h4 class="info-question">O que é?</h4>
      <div class="info-text">
        Uma maratona de 24 horas onde uma equipa interprofissional de 5 elementos desenvolve um produto informático inovador que dê resposta a um problema atual na Saúde em Portugal.</br>
        Esta solução será no final apresentada a um painel multidisciplinar que irá distinguir equipas com cerca de 2.000€ em prémios e uma rede capaz de ajudar no lançamento e desenvolvimento dos projetos, através de mais de 20.000€ em serviços.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Quando e onde ocorre?</h4>
      <div class="info-text">
        No Hospital de Braga do dia 18 às 18 horas até às 20h do dia 19 de Novembro de 2017.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Quem pode participar?</h4>
      <div  class="info-text">
        Estudantes do ensino superior português, público ou privado e profissionais recém-licenciados, ligados à área da Saúde ou Informática. No entanto, os estudantes têm prioridade na obtenção de vagas.
      </div>
    </div>


    <div class="info">
      <h4 class="info-question">Tenho de me inscrever em equipa?</h4>
      <div class="info-text">
        As inscrições podem ser feitas individualmente, ou em equipas de 5 elementos no máximo. A equipa tem no entanto de ser mista. Deve ter no mínimo 2 elementos da área de saúde e 2 de informática com pelo menos 1 de Medicina. Elementos que não formem uma equipa completa serão adicionados a outras equipas.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Mais informações</h4>
      <div class="info-text">
        Consulte o regulamento disponível brevemente.
      </div>
    </div>

  </div>
</div>
