<section id="sponsors">
    <div class="container ">

        <div class="section-title-container">
          <h1 class="section-title">Parceiros Institucionais</h1>
        </div>

        <div class="row">
                <div class="col-md-4 vcenter">
                    <a target="_blank" href="https://www.hospitaldebraga.pt/"> {% image sponsors/hospitalbraga.png class:'hcenter img-responsive' %} </a>
                </div><!--
             --><div class="col-md-4 vcenter">
                    <a target="_blank" href="https://www.ccabraga.org/"> {% image sponsors/LogoCCA.jpg class:'hcenter img-responsive' %} </a>
                </div><!--
             --><div class="col-md-4 vcenter">
                    <a target="_blank" href="http://www.investbraga.com/startup/"> {% image sponsors/startup.png class:'hcenter img-responsive' %} </a>
                </div><!--
             -->
        </div>
        <div class="row">
            <div class="col-md-6 vcenter">
                <a target="_blank" href="https://www.med.uminho.pt/pt"> {% image sponsors/medicina.jpg class:'partner-img img-responsive' %} </a>
            </div>
            <div class="col-md-6 vcenter">
                <a target="_blank" href="https://www.eng.uminho.pt/pt"> {% image sponsors/engenharia.png class:'partner-img img-responsive' %} </a>
            </div>
        </div>
    </div>
</section>
