<section id="mentorsheader">
  <div class="container" style="margin-top: 50px">

    <div class="section-title-container">
      <h1 class="section-title mentors-title">Mentores</h1>
    </div>
  </div>
</section>
<section id="mentorsbody">
  <div class="container business">
    <h2>Business Development</h2>
    {% for mentor in site.data.mentors %} {% if mentor.area == "business" %}
    <div class="vcenter col-md-{{mentor.size}} icons-space mentor">
      <div class="mentor-img vcenter img-responsive" style="background-image: url({% asset_path 'mentors/{{mentor.pic}}'%})">
      </div>
      <h4>{{mentor.name}}</h4>
      <h5>{{mentor.job}}</h5>
      <button class="btn btn-primary text-toggle" data-toggle="collapse" data-target="#{{mentor.id}}" aria-expanded="false">
        <span class="text-collapsed">See More</span>
        <span class="text-expanded">See Less</span>
      </button>
      <div id="{{mentor.id}}" class="collapse" aria-expanded="false">
        <h6>"{{mentor.bio}}"</h6>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <div class="container tech">
    <h2>Tech Development</h2>
    {% for mentor in site.data.mentors %} {% if mentor.area == "tech" %}
    <div class="vcenter col-md-{{mentor.size}} icons-space mentor">
      <div class="mentor-img vcenter img-responsive" style="background-image: url({% asset_path 'mentors/{{mentor.pic}}'%})">
      </div>
      <h4>{{mentor.name}}</h4>
      <h5>{{mentor.job}}</h5>
      <button class="btn btn-primary text-toggle" data-toggle="collapse" data-target="#{{mentor.id}}" aria-expanded="false">
        <span class="text-collapsed">See More</span>
        <span class="text-expanded">See Less</span>
      </button>
      <div id="{{mentor.id}}" class="collapse" aria-expanded="false">
        <h6>"{{mentor.bio}}"</h6>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <div class="container health">
    <h2>Health Development</h2>
    {% for mentor in site.data.mentors %} {% if mentor.area == "health" %}
    <div class="vcenter col-md-{{mentor.size}} icons-space mentor">
      <div class="mentor-img vcenter img-responsive" style="background-image: url({% asset_path 'mentors/{{mentor.pic}}'%})">
      </div>
      <h4>{{mentor.name}}</h4>
      <h5>{{mentor.job}}</h5>
      <button class="btn btn-primary text-toggle" data-toggle="collapse" data-target="#{{mentor.id}}" aria-expanded="false">
        <span class="text-collapsed">See More</span>
        <span class="text-expanded">See Less</span>
      </button>
      <div id="{{mentor.id}}" class="collapse" aria-expanded="false">
        <h6>"{{mentor.bio}}"</h6>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</section>