<section id="mission">
  <div class="container">
    <div class="col-md-6">
      <div class="col-xs-12">
        <div class="title-container">
          <span class="title">
            <b>Missão</b>
          </span>
        </div>
      </div>

      <div class="text-container col-xs-offset-2 col-xs-8 mission-container">
        Criar um espaço de trabalho conjunto e partilha interdisciplinar onde
        é possível criar respostas eficientes para problemas atuais na Saúde,
        recorrendo à tecnologia informática.
      </div>
    </div>

    <div class="col-md-6 space">
      <div class="col-xs-12">
        <div class="title-container">
          <span class="title">
            <b>Visão</b>
          </span>
        </div>
      </div>

      <div class="text-container col-xs-offset-2 col-xs-8 mission-container">
        A Saúde optimizada através do esforço interprofissional e da
        inovação, tendo como epicentro a colaboração entre disciplinas e
        áreas de estudo.
      </div>
    </div>
  </div>
</section>