<section id="sponsors">
    <div class="container ">

        <div class="section-title-container">
          <h1 class="section-title">Patrocionadores</h1>
        </div>

        <div class="row">
                <div class="col-md-4 wide-logo vcenter">
                    <a target="_blank" href="http://msd.pt/"> {% image sponsors/msd.png class:'partner-img img-responsive' %} </a>
                </div><!--
             --><div class="col-md-4 wide-logo vcenter">
                    <a target="_blank" href="https://subvisual.co/"> {% image sponsors/subvisual.png class:'partner-img img-responsive' %} </a>
                </div><!--
             --><div class="col-md-4 narrow-logo vcenter">
                    <a target="_blank" href="http://grow.josedemello.pt/"> {% image sponsors/grow.png class:'partner-img img-responsive' %} </a>
                </div><!--
             -->
        </div>
    </div>
</section>
