<section id="vission">
  <div class="container">
        <div class="col-xs-12">
          <div class="title-container">
            <span class="title"><b>Visão</b></span>
          </div>
        </div>

        <div class="text-container col-xs-offset-2 col-xs-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec velit ut urna sollicitudin gravida. Cras tempus lectus erat, vitae molestie lectus vulputate ornare. Suspendisse dictum elementum purus, in pharetra dui. Donec rhoncus vulputate placerat. Pellentesque imperdiet semper sem, nec porttitor tellus malesuada sed. Mauris quis leo dignissim, rhoncus dolor ut, tempor turpis. Vivamus luctus neque non feugiat finibus. Sed facilisis mattis maximus. Nulla facilisi.
        </div>
      </div>
    </div>
</section>
