<section id="sponsorheader">
  <div class="container">

    <div class="col-md-4 icons-space vcenter">
      <i class="fa fa-medkit fa-5x" aria-hidden="true"></i>
      <h4>Parceiros</h4>
      <h6>
        Contamos com um conjunto de patrocinadores e parceiros que colaboram
        connosco para proporcionar-te a melhor experiência
      </h6>
    </div>
    <div class="col-md-4 icons-space vcenter">
      <i class="fa fa-user-md fa-5x" aria-hidden="true"></i>
      <h4>Mentores</h4>
      <h6>
        De diferentes áreas da indústria, poderás contar com a experiência e
        apoio de um conjunto alargado de mentores.
      </h6>
    </div>
  </div>

</section>