#heartbits-organisation
  padding: 100px 0
  background-color: #F46519
  background-size: cover
  background-attachment: scroll
  background-attachment: fixed
  background-image: radial-gradient(circle, #f69a2a, #f37b33 120%)
  background-position: center center
  background-repeat: none
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  .heartbits-partners
    width: 100%
