#heartbits-organisation
  padding: 100px 0
  background-color: #F46519
  background-size: cover
  background-attachment: scroll
  background-image: url(image_path("backgrounds/back-blue.png"))
  .heartbits-partners
    width: 100%
