<footer>
  <div class="container">
    <div class="col-md-12">

      <p>Made with
        <i class="fas fa-heart" aria-hidden="true"></i> by
        <a href="http://www.github.com/cesium" target="_blank">CeSIUM</a>.
      </p>

      <a target="_blank" href="https://www.facebook.com/HackathonHeartbits">
        <i class="fab fa-facebook-square fa-2x"></i>
      </a>

      <p>
        <a target="_blank" href="https://cesium.github.io/2016.seium.org/heartbits" target="_blank">Edição Anterior</a>
      </p>

    </div>
  </div>
</footer>