<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/" id="nav-logo">
        {% image logo.png %}
        <div>
          <span>
            Hackathon<br>
            HEARTBITS<br>
            <strong>HOSPITAL DE BRAGA<br>
              2017</strong>
          </span>
          </div>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav nav-item">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="nav-text" href="/">Home</a>
          </li>
          <li>
            <a class="nav-text" href="/about">Sobre</a>
          </li>
          <li>
            <a class="nav-text" href="/team">Equipa</a>
          </li>
          <li>
            <a class="nav-text" href="/mentors">Mentores</a>
          </li>
          <li>
            <a class="nav-text" href="/honor">Comissão de Honra</a>
          </li>
          <li>
            <a class="nav-text" href="/jurados">Jurados</a>
          </li>
          <li>
            <a class="nav-text" href="/sponsors/">Parceiros</a>
          </li>
          <li>
            <a class="page-scroll nav-text" href="/regulamento.pdf" target="_blank">Regulamento</a>
          </li>
        </ul>
      </div>
  </nav>
