<section id="aboutwhite">
  <div class="container">
    <div class="col-md-9 icons-space vcenter">
      <i class="fa fa-heartbeat fa-5x" aria-hidden="true"></i>
      <h4>O que é?</h4>
      <h6> Uma maratona de 24 horas onde uma equipa interprofissional de 5 elementos desenvolve um produto informático inovador
        que dê resposta a um problema atual na Saúde em Portugal.</br>
        Esta solução será no final apresentada a um painel multidisciplinar que irá distinguir equipas com cerca de 2.000€ em prémios
        e uma rede capaz de ajudar no lançamento e desenvolvimento dos projetos, através de mais de 20.000€ em serviços.</h6>
    </div>
  </div>
</section>

<section id="aboutgray">
  <div class="container">
    <div class="col-md-5 icons-space vcenter">
      <i class="fas fa-map fa-5x vcenter" aria-hidden="true"></i>
      <h4>Quando e Onde ocorre?</h4>
      <h6>No Hospital de Braga do dia 18 às 18 horas até às 20h do dia 19 de Novembro de 2017.</h6>
    </div>
    <div class="col-md-5 icons-space vcenter">
      <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
      <h4>Quem pode participar?</h4>
      <h6>Estudantes do ensino superior português, público ou privado e profissionais recém-licenciados, ligados à área da Saúde
        ou Informática. No entanto, os estudantes têm prioridade na obtenção de vagas.</h6>
    </div>
  </div>
</section>

<section id="aboutwhite">
  <div class="container">
    <div class="col-md-9 icons-space vcenter">
      <i class="fas fa-edit fa-5x" aria-hidden="true"></i>
      <h4>Tenho de me inscrever em equipa?</h4>
      <h6>As inscrições podem ser feitas individualmente, ou em equipas de 5 elementos no máximo. A equipa tem no entanto de
        ser mista. Deve ter no mínimo 2 elementos da área de saúde e 2 de informática com pelo menos 1 de Medicina. Elementos
        que não formem uma equipa completa serão adicionados a outras equipas.</h6>
    </div>
  </div>
</section>
<section id="aboutgray">
  <div class="container">
    <div class="col-md-7 icons-space vcenter">
      <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
      <h4>Mais informações</h4>
      <h6>Consulte o
        <a href="http://heartbits.pt/regulamento.pdf">regulamento</a> ou contacte-nos no
        <a href="https://www.facebook.com/HackathonHeartbits/">Facebook</a>.
      </h6>
    </div>
  </div>
</section>