<section id="aboutheader">
  <div class="container">

    <div class="col-md-4 icons-space vcenter">
      <i class="fas fa-hospital fa-5x" aria-hidden="true"></i>
      <h4>Saúde</h4>
      <h6>
        Reforçar as colaborações interdisciplinares em todos os aspetos dos
        cuidados de saúde para humanos, animais e meio ambiente.
      </h6>
    </div>
    <div class="col-md-4 icons-space vcenter">
      <i class="fa fa-code fa-5x" aria-hidden="true"></i>
      <h4>Informática</h4>
      <h6>
        Conceber soluções para problemas, através do uso da tecnologia, de
        forma a aperfeiçoar os cuidados médicos.
      </h6>
    </div>

  </div>
</section>