<section id="awards">
  <div class="container">

    <div class="col-md-12 icons-space">
      <h3>Prémios</h3>
    </div>

    <div class="col-md-12">
      <div class="awards">
        <div class="award icons-space">
          <i class="fa fa-trophy award-1" aria-hidden="true"></i>
          <h4> 1.º Prémio</h4>
          <h6> 800€ em Vales Fnac</h6>
          <h6> + 5 Chromecasts</h6>
        </div>

        <div class="award icons-space">
          <i class="fa fa-trophy award-2" aria-hidden="true"></i>
          <h4> 2.º Prémio</h4>
          <h6> 500€ em Vales Fnac</h6>
        </div>

        <div class="award icons-space">
          <i class="fa fa-trophy award-3" aria-hidden="true"></i>
          <h4> 3.º Prémio</h4>
          <h6> 300€ em Vales Fnac</h6>
        </div>

        <div class="award icons-space">
          <i class="fa fa-trophy award-4" aria-hidden="true"></i>
          <h4> 4.º Prémio</h4>
          <h6> 200€ em Vales Fnac</h6>
        </div>

        <div class="award icons-space">
          <i class="fa fa-trophy award-5" aria-hidden="true"></i>
          <h4> 5.º Prémio</h4>
          <h6> 100€ em Vales Fnac</h6>
        </div>

      </div>
    </div>

    <div class="follow-up">
      <i class="fas fa-star fa-5x" aria-hidden="true"></i>
      <h4>20.000€ Prémio de Follow-Up</h4>
      <h6>
        Em serviços da Subvisual (Product Management, Design and Development)
      </h6>
    </div>

  </div>
</section>