<section id="benefits">
  <div class="container">

    <div class="col-md-8 col-md-offset-2">
      <h3>Durante a Hackathon, poderás beneficiar de:</h3>
    </div>

    <div class="col-md-12">
      <div class="col-md-4 icons-space">
        <i class="fa fa-gamepad fa-5x" aria-hidden="true"></i>
        <h4>Área de Jogos</h4>
        <h6>
          Toda a gente precisa de pausas criativas, por isso estaremos
          preparados para as tuas necessidades.
        </h6>
      </div>

      <div class="col-md-4 icons-space">
        <i class="fas fa-utensils fa-5x" aria-hidden="true"></i>
        <h4>Refeições e Snacks</h4>
        <h6>
          Para que as 24h sejam o mais produtivas possível, as refeições e
          snacks são à nossa conta!
        </h6>
      </div>

      <div class="col-md-4 icons-space">
        <i class="fas fa-users fa-5x" aria-hidden="true"></i>
        <h4>Mentores</h4>
        <h6>
          De diferentes áreas da indústria, poderás contar com conselhos de
          vários profissionais experientes.
        </h6>
      </div>
    </div>

  </div>
</section>