<section id="where">
  <div class="container">
      <div class="text-container col-md-12">
        <h4>A Hackathon decorre nos dias 18 e 19 de Novembro no Hospital de Braga.</h4>
      </div>
      <div class="col-xs-12">
        <iframe class="col-xs-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.0642803589813!2d-8.40119898460242!3d41.56785337924814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24fe814912f2a7%3A0xa3e6da9fe2189b49!2sHospital+de+Braga!5e0!3m2!1sen!2spt!4v1508961955028" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
  </div>
</section>
