<div id="heartbits-organisation">
  <div class="container text-center">

    <div class="heartbits-partners">
      <h4 class="col-md-3 center-no-float partners-header">
        <span>Organização</span>
      </h4>
    </div>

    <div class="flex-wrapper">
      <div class="partner-img">
        <a target="_blank" href="http://www.anem.pt/"> {% image heartbits/partner-anem.png class:'center-block img-responsive' %} </a>
      </div>

      <div class="partner-img">
        <a target="_blank" href="http://cesium.di.uminho.pt/"> {% image logos/cesium.png class:'center-block img-responsive' %} </a>
      </div>
    </div>

  </div>
</div>