<section id="staff">
  <div class="container" style="margin-top: 50px">

    <div class="section-title-container">
      <h1 class="section-title staff-title">Equipa Organizadora</h1>
    </div>

    {% for staff in site.data.staff %} {% if staff.pic %}
    <div repeat="staff in staffs" class="col-md-2  col-sm-2 col-xs-3 staff">
      <div class="staff-info-container" style="background-image: url( {% asset_path 'staff/{{ staff.pic }}' %} )">
        <div class="staff-info">
          <span class="col-md-12 staff-name">{{ staff.name }}</span>
          {% if staff.school %}
          <p class="staff-text"> {{ staff.school }}</p>
          {% endif %} {% if staff.job %}
          <p class="staff-text"> {{ staff.job }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</section>